.wrapperChatPage {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  height: 100vh;
  &:before {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 127px;
    content: "";
    background-color: var(--app-background-stripe);
  }
  .chat {
    margin: 0 142px;
    width: 100%;
    display: flex;
    .leftBar {
      flex: 30%;
      height: 100%;
      background-color: rgb(var(--white));
      display: flex;
      flex-direction: column;
      .panelHeader {
        padding: 10px 16px;
        background-color: var(--panel-header-background);
        width: 100%;
        height: 59px;
        display: flex;
        justify-content: space-between;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          height: 100%;
          &:not(:first-child) {
            width: 100%;
          }
        }
        .userIcon {
          height: 40px;
          width: 40px;
          color: var(--avatar-icon-color);
        }
        .iconWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          & svg {
            color: var(--icons-color-header-panel);
            width: 24px;
            height: 24px;
          }
          & button:first-child,
          & button:last-child {
            padding: 8px;
          }
          & button {
            padding: 8px 18px;
          }
        }
      }
      .notificationDiv {
        background-color: var(--butterbar-notification-icon);
        padding: 13px 12px 14px 13px;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
          color: rgb(var(--white));
          margin-right: 15px;
        }
        .notificationText {
          h1 {
            font-size: 16px;
            line-height: 21px;
            color: var(--primary-strong);
            margin: 0;
            font-weight: 400;
          }
          .enableNotifications {
            display: flex;
            align-items: center;
            p {
              font-size: 14px;
              line-height: 19px;
              color: var(--butterbar-secondary);
              margin: 2px 0 0 0;
              &:hover {
                text-decoration: underline;
              }
            }
            svg {
              color: var(--butterbar-secondary);
              margin: 5px 0 0 3px;
            }
          }
        }
      }
      .findChatDiv {
        border-bottom: 1px solid var(--border-default);
        background-color: rgb(var(--white));
        padding: 7px 13px;
        display: flex;
        justify-content: center;
        .findChatInput {
          position: relative;
          width: 100%;
          span {
            opacity: 1;
            position: absolute;
            left: 65px;
            user-select: text;
            cursor: text;
            top: 7px;
            z-index: 100;
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            pointer-events: none;
            transition: opacity 0.14s linear;
            color: var(--input-placeholder);
          }
          .hideOpacity {
            opacity: 0;
          }
          .hideDisplay {
            display: none;
          }
          button {
            background-color: transparent;
            border: none;
            color: #8696a0;
            padding: 0;
            position: absolute;
            top: 5px;
            left: 10px;
            cursor: pointer;
            :first-child {
              position: relative;
            }
            :last-child {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          input[type="text"] {
            border-radius: 8px;
            border: none;
            height: 35px;
            width: 100%;
            padding: 0 32px 0 65px;
            background-color: var(--input-background);
            font-size: 14px;
            line-height: 20px;
            color: var(--input-placeholder);
            &:focus,
            :focus-visible {
              outline: none;
            }
            ::placeholder {
              color: white;
            }
          }
          .showArrowSearchIcon {
            color: var(--teal-lighter);
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transform: scale(1) rotate(1turn);
            opacity: 1;
          }
          .hideArrowSearchIcon {
            pointer-events: none;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transform: scale(0.8) rotate(225deg);
          }
          .showSearchIcon {
            transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1);
            transform: rotate(0);
            opacity: 1;
            color: #54646F;
          }
          .hideSearchIcon {
            opacity: 0;
            transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1) 0.065s;
            transform: rotate(135deg);
          }
        }
      }
      .dialogs {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 692px;
        &::-webkit-scrollbar-thumb {
          background-color: rgba(var(--black-rgb),.2);
        }
        &::-webkit-scrollbar-track {
          background: rgba(var(--white),.1);
        }
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
      }
    }
    .rightBar {
      flex: 70%;
    }
  }
}
