.missedCallWrapper {
  padding-right: 9%;
  padding-left: 9%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .missedCall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(var(--white),.4);
    background-color: var(--system-message-background);
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
    box-sizing: border-box;
    max-width: 100%;
    font-size: 12.5px;
    line-height: 21px;
    color: var(--system-message-text);
    .missedCallIconWrapper {
      display: flex;
      justify-content: center;
      align-items: baseline;
      color: var(--danger);
      margin-right: 4px;
    }
  }
}
